body {
    background-image: linear-gradient(45deg, #000, #000);
    min-height: 100vh;
    overflow-x: hidden;
}

#result {
    margin-top: 50px;
    margin-left: 20px; margin-right: 20px;
    text-align: center;
    border-radius: 20px;
    display: none;
    transition: 1s;
    transform: scale(0);
}

#alias {
  font-family: "DM Sans";
}

#myself {
  transition: 1s;
  transform: scale(1);
}

#en {
    color: #fdaf01;
    border: 1px solid #fdaf01;
    display: inline-block;
    border-radius: 20px;
    padding: 20px;
    margin-bottom: 40px;
    font-weight: bold;
    margin: 0px;
}


h1 {
    color: #fdaf01;
    text-align: center;
    font-family: "DM Sans";
    font-size: 3rem;
    margin-bottom: 60px;
    animation: 4s atten infinite;
}

.timeslot {
    color: black;
    text-align: center;
    font-family: "DM Sans";
    font-size: 2rem;
}

h3 {
    font-family: "DM Sans";
    color: #fdaf01;
    text-align: center;
    animation: 4s movee infinite;
}

h4 {
  text-align: center;
  color: #104768;
  font-size: 1.3rem;
}

#i-one {
  font-family: 'DM Sans', serif;
  font-weight: 400;
  color: #ffffff;
}

#i-two {
  color: #fdaf01;
  font-family: 'DM Sans', serif;
  font-weight: 700;
  text-decoration: underline;
}

button {
    height: 30px;
    text-align: center;
    background-color: transparent;
    color: #fdaf01;
    cursor: pointer;
    border: 1px solid #fdaf01;
    border-radius: 20px;
    margin: 20px; padding-left: 15px; padding-right: 15px;
    font-weight: bold;
    font-size: 1rem;
    outline: 0 none;
    align-self: center;
}

select {
  height: 30px;
  align-self: center;
  padding-left: 10px;
  padding-right: 10px;
  margin-left: 20px;
  margin-bottom: 30px;
  border-radius: 20px;
  border: none;
  text-align: center;
  background-color: #fdaf01;
  color: black;
  font-weight: 700;
  font-size: 1rem;
  font-family: 'DM Sans';
  outline: 0 none;
}

::-webkit-input-placeholder { /* WebKit, Blink, Edge */
  color:    black;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
 color:    black;
 opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
 color:    black;
 opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
 color:    black;
}
::-ms-input-placeholder { /* Microsoft Edge */
 color:    black;
}

::placeholder { /* Most modern browsers support this now. */
 color:    black;
}


input {
    height: 30px; width: 30vw;
    margin-bottom: 30px; padding: 10px;
    border-radius: 20px;
    border: none;
    text-align: center;
    font-size: 1rem;
    background-color: #fdaf01;
    color: black;
    font-weight: bold;
    font-family: 'DM Sans';
    outline: 0 none;
}

select option { 
  color: #104768; 
  text-align: center;
  background-color: white;
  font-weight: 400;
}

@keyframes atten {
    10% {
        transform: scale(1);
    }
    17% {
        transform: scale(1.2);
    }
    24% {
        transform: scale(1) rotate(0deg);
    }
    40% {
        transform: rotate(0deg);
    }
    47% {
        transform: rotate(-20deg);
    }
    54% {
        transform: rotate(20deg);
    }
    61% {
        transform: rotate(0deg);
    }
}

@keyframes movee {
    40% {
        transform: translateX(0);
    }
    47% {
        transform: translateX(-20px);
    }
    54% {
        transform: translateX(20px);
    } 
    61% {
        transform: translateX(0);
    }
}




* {
    box-sizing: border-box;
  }
  
  /* Set a background color */
  body {
    background-color: #474e5d;
    font-family: "DM Sans", sans-serif;
  }
  
  /* The actual timeline (the vertical ruler) */
  .timeline {
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
    padding-top: 40px;
  }
  
  /* The actual timeline (the vertical ruler) */
  .timeline::after {
    content: '';
    position: absolute;
    width: 6px;
    background-color: white;
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -3px;
  }
  
  /* Container around content */
  .container {
    padding: 10px 40px;
    position: relative;
    background-color: inherit;
    width: 50%;
  }
  
  /* The circles on the timeline */
  .container::after {
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    right: -17px;
    background-color: #fdaf01;
    border: 4px solid #fdaf01;
    top: 15px;
    border-radius: 50%;
    z-index: 1;
  }
  
  /* Place the container to the left */
  .left {
    left: 0;
  }
  
  /* Place the container to the right */
  .right {
    left: 50%;
  }
  
  /* Add arrows to the left container (pointing right) */
  .left::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    right: 30px;
    border: medium solid #fdaf01;
    border-width: 10px 0 10px 10px;
    border-color: transparent transparent transparent #fdaf01;
  }
  
  /* Add arrows to the right container (pointing left) */
  .right::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    left: 30px;
    border: medium solid #fdaf01;
    border-width: 10px 10px 10px 0;
    border-color: transparent #fdaf01 transparent transparent;
  }
  
  /* Fix the circle for containers on the right side */
  .right::after {
    left: -16px;
  }
  
  /* The actual content */
  .content {
    padding: 20px 30px;
    background-color: #fdaf01;
    position: relative;
    border-radius: 6px;
  }
  
  /* Media queries - Responsive timeline on screens less than 600px wide */
  @media screen and (max-width: 600px) {
  /* Place the timelime to the left */
    .timeline::after {
      left: 31px;
    }
  
  /* Full-width containers */
    .container {
      width: 100%;
      padding-left: 70px;
      padding-right: 25px;
    }
  
  /* Make sure that all arrows are pointing leftwards */
    .container::before {
      left: 60px;
      border: medium solid #fdaf01;
      border-width: 10px 10px 10px 0;
      border-color: transparent #fdaf01 transparent transparent;
    }
  
  /* Make sure all circles are at the same spot */
    .left::after, .right::after {
      left: 15px;
    }
  
  /* Make all right containers behave like the left ones */
    .right {
      left: 0%;
    }
  }

a {
  color: inherit;
  text-decoration: inherit;
}
